<!DOCTYPE html>
<html>
<!-- html operates by tags, this is an opening tag -->

</head>
  <!-- information used to reder the body, for example decors -->
  <title>Furniture Webapp Name</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    #banner {
      height: 400px;
      width: 100%;
      object-fit: cover;
      margin-bottom: 16px;
    }
  </style>
  
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src = "/static/banner.jpeg" height="320">
    
    <div class="container">
      
    <h1 class="text-center mt-4 mb-8">FURNITURE SELL WEBSITE NAME</h1>

    <div class = "row" style="margin-bottom:16px">
      <div class = "col-md-6">
    <p class="lead"> 
      generate paragraph usign lorem ipsum generator.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
      </div>
      <div class= "d-none d-md-block col-md-6">
        <img src="static/packing.jpeg" style="height:320px; border-radius: 4px; padding-right:14px">
      </div>
    </div>
        
    <h2>New Postings</h2>
    <p>
      {% for listing in listings %}
        {% include 'listingitem.html' %}
      {% endfor %}
    </p>

      <div class="text-center">
    <bottun class="btn btn-primary btn-lg">Create Listing</bottun>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>